*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
header{
	height: 80px;
	width: 100%;
	/*background: red;*/
}
.header-continer{
	width: 85%;
	height: 80px;
	margin: 0 auto;
	/*background: blue;*/
}
.logo{
	width: 64px;
	height: 80px;
	/*background: pink;*/
	display: inline-block;
}
.logo img{
	margin-top: 24px;
	max-height: 64px;
	max-width: 64px;
}
nav{
	width: 45px;
	height: 80px;
	/*background: orange;*/
	float: right;
}
section{
	width: 100%;
	height: 1200px;
}
.circlbar{
	width: 643px;
    height: 643px;
    background: #E0E5EB;
    border-radius: 50%;
    float: right;
    margin: 110px 95px 0 0;

}
.imgbar{
	margin-left: 80px;
    position: absolute;
    width: 643px;
    height: 643px;
    border-radius: 50%;
    background: url("https://images03.nicepage.io/c461c07a441a5d220e8feb1a/8b2e87c953e95fc5a5fc2e5b/wsqd-min.jpg");
    background-size: cover;
}
.continer-imgbar2{
	background: white;
    border-radius: 50%;
    padding: 12px;
    margin: 460px 0 0 35px;
    position: absolute;
}
.imgbar2{
	
    background: url("https://images03.nicepage.io/c461c07a441a5d220e8feb1a/cca8271d596c5228a96abdfe/salad_144627-39466.jpg")center;
    height: 263px;
    width: 263px;
    border-radius: 50%;
    background-size: cover;
}
.textbar{
	position: absolute;
    width: 800px;
    height: 800px;
    right: 110px;
    margin-top: 520px;
    font-family: sans-serif;
}
.textbar h2{
	font-size: 179px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #FE4323;
}
.paragraf1{
	font-size: 34px;
    letter-spacing: 1px;
    color: #808080;
}
.paragraf2{
	font-size: 17px;
    margin: 20px 0 5px 0;
}
.paragraf3{
	font-size: 17px;
    margin: 5px 0 35px 0;
}
.paragraf4{
	font-size: 17px;
}
.color{
	color: white;
    text-decoration: none;
    padding: 19px 29px;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    font-size: 1.125rem;
    margin: 40px 0 0 0;
    width: 200px;
    height: 60px;
    background: #FE4323;
    color: white;
}
.continer-barimg{
	width: 85%;
    height: 100%;
    margin: 65px auto;
}
.continer{
	width: 100%;
	height: 550px;
	position: relative;
}
.circl{
	width: 85%;
	height: 550px;
	background: #FE4323;
	clip-path: circle(50% at 50% 4%);
	position: absolute;
	left: 8%;
}
.bartitle{
	padding: 15px 0 0 0;
}
.bartitle h3{
	font-family: sans-serif;
	font-size: 48px;
	color: white;
	text-align: center;
	font-weight: 900;
}
.bartitle p{
	text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
.continer-items{
	display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.item{
	width: 250px;
    height: 340px;
    background: #E0E5EB;
    margin: 0 15px;
}
.titlebar{
	width: 60px;
    height: 60px;
    background: #FE4323;
    border-radius: 50px;
    padding: 20px;
    margin: 20px 0 20px 20px;
}
.titlebar h5{
	font-size: 55px;
    color: white;
    font-family: sans-serif;
}
.item span{
	display: block;
    font-size: 22px;
    font-weight: 900;
    margin: 0 0 20px 20px;
    font-family: sans-serif;
}
.item p{
	color: gray;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px;
}
.item a{
	color: black;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 20px;
    text-decoration: none;
}
.hr{
	width: 98px;
	height: 2px;
	background: #FE4323;
	margin-left: 20px; 
}
.online-cours{
	display:flex ;
	width: 100%;
	height: 855px;
	/*background: red;*/
	justify-content: center;

}
.cours-child{
	width: 88%;
	height: 855px;
	/*background: blue;*/
}
.cooking-classes{
	display: inline-block;
	float: left;
}
.cooking-classes h2{
	margin-left: 23px;
	display: flex;
    font-size: 108px;
    width: 600px;
    height: 288px;
    line-height: 0.9;
    font-family: sans-serif;
    color: #FE4323;
    position: relative;
}
.cook{
	background: url("https://images03.nicepage.io/c461c07a441a5d220e8feb1a/f00d24d889785677808a355e/3f706f3d-9b6f-067a-559c-5e9d8745f962.jpg") center;
	border-radius: 50%;
	background-size: cover;
	width: 510px;
    height: 510px;
    display: inline-block;
    float: right;
}
.Barimg{
	position: absolute;
	width: 819px;
    height: 514px;
    margin: 370px auto 0 0px;
}
.Barimg img{
	width: 819px;
    height: 514px;
    object-fit: cover;
}
.Bartext{
    width: 410px;
    height: 300px;
    padding: 20px 30px;
    position: absolute;
    margin: 670px 0 0 610px;
    background: white;
}
.Bartext h3{
    color: #FE4323;
    font-size: 2.75rem;
    text-transform: none;
    font-weight: 900;
}
.Bartext p{
    line-height: 1.6;
    margin-top: 20px;
}
.colorb {
    color: black;
}
.btn2{
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.125rem;
    margin: 20px 0 0 0;
    background: #FE4323;
    color: white;
    width: 199px;
    height: 57px;
}
.circul{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background: #FE4323;
    border-radius: 50%;
}
.circul2{
    width: 150px;
    height: 150px;
    background:rgba(254,67,35,0);
    border-radius: 50%;
}
.who{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: #E0E5EB;
}
.who-child{
    width: 75%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.continer-text{
    width: 100%;
    height: 430px;
}
.continer-text h6{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 4px;
    margin-top: 60px;
}
.continer-text p{
    margin: 20px 0;
    text-align: center;
    font-size: 50px;
    line-height: 57.6px;
}
.continer-text span{
    font-weight: 700;
}
.vegetables{
    margin-top: 50px; 
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
}
.vegetables-child{
    width: 84%;
    height: 100%;
    display: flex;
}
.itembar{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.itembar h3{
    padding: 30px 0;
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    color: #FE4323;
}
.itembar p{
    font-size: 20px;
    line-height: 2;
}
.itembar a{
    color: black;
}
.itembar span{
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

.svgimg{
    position: absolute;
    right: 21px;
    width: 100%;
}
.svgimg svg{
    fill: red;
}
.bt{
    border-radius: 22px;
    border-style: none;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-color: #FE4323;
    margin: 44px auto 0 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
}
.bt a{
    text-decoration: none;
    color: white;
    padding: 12px 47px;
}
.bt:hover{
    background-color: black;
}
.item-img{
    background: url("../../img/rfd-min.jpg");
    background-size: contain;
    margin: 30px 0 0 4px;
    height: 550px;
    width: 550px;
    border-radius: 50%;
    position: relative;
}
.imghover-continer{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: center;
}
.imghover-child{
    width: 84%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.imghover-child img{
    width: 277px;
    height: 276px;
    object-fit: cover;
}
.imghover-child img:hover{
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0.8;
    transition: 1s;
}
.change{
    width: 100%;
    height: 450px;
    background: #E0E5EB;
    display: flex;
    justify-content: center;
}
.change-child{
    width: 85%;
    height: 100%;
}
.change-child h3{
    color: #FE4323;
    margin: 60px 259.5px 0;
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
    font-weight: 900;
}
.baritem{
    display: inline-block;
    width: 230px;
    height: 150px;
    padding: 30px;
    margin: 30px 0 0 0;
    width: 223.3px;
}
.baritem p{
    line-height: 1.6;
    font-size: 17px;
}
.healthy{
    width: 100%;
    height: 590px;
    display: flex;
}
.food{
    display: flex;
    width: 452px;
    padding: 30px 30px 30px 80px;
    flex-direction: column;
    justify-content: center;
}
.food h2{
    font-size: 40px;
    font-weight: 900;
    color: #FE4323;
}
.food p{
    font-size: 1.25rem;
    margin: 42px 0 0;
    line-height: 1.6;
}
.foodimg{
    height: 100%;
    background: url("https://images03.nicepage.io/a1389d7bc73adea1e1c1fb7e/a4403eba638a55f3b0da3f9b/pexels-photo-4220142.jpeg") center;
    width: 47%;
    background-size: cover;
}
.orange{
    width: 153px;
    height: 100%;
    background: #FE4323;
}